# Credentials for AWS Account Access
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-south-1

# Database credentials for Postgres Initialization
POSTGRES_DB=scancodeio
POSTGRES_USER=scancodeio
POSTGRES_HOST_AUTH_METHOD=trust

# Database configuration for SupplyShield service. Should contain same values as DB configuration for scancodeio service
DB_HOSTNAME=db
DB_USERNAME=scancodeio
DB_PASSWORD=

# Configuration for Scancodeio service
SCANCODEIO_DB_HOST=db
SCANCODEIO_DB_NAME=scancodeio
SCANCODEIO_DB_USER=scancodeio
SCANCODEIO_DB_PASSWORD=
POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=en_US.UTF-8 --lc-ctype=en_US.UTF-8
SECRET_KEY=

# Metapod URL - This is expected to return service-pod mappings.
SERVICE_METADATA_URL=

# VCS configuration
GIT_PROVIDER=github
GIT_ORG=

# GitHub App for cloning repositories
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----@@@@@@@@@@-----END RSA PRIVATE KEY-----@@"
GITHUB_APP_APP_ID=
GITHUB_APP_INSTALLATION_ID=

# Credentials for Jira syncing. Can be disabled by altering required cron jobs. 
JIRA_URL=https://org_name.atlassian.net
JIRA_USER="email_address"
JIRA_TOKEN=""

# S3 to upload SBOMs
S3_BUCKET_NAME=
SQS_QUEUE_NAME=

# Misc env variables
GO_PRIVATE=
JAVA_HOME={"1.8":"/root/.sdkman/candidates/java/8.0.412-amzn","8":"/root/.sdkman/candidates/java/8.0.412-amzn","1.11":"/root/.sdkman/candidates/java/11.0.23-amzn","11":"/root/.sdkman/candidates/java/11.0.23-amzn","1.17":"/root/.sdkman/candidates/java/17.0.11-amzn","17":"/root/.sdkman/candidates/java/17.0.11-amzn","1.19":"/root/.sdkman/candidates/java/19.0.2-zulu","19":"/root/.sdkman/candidates/java/19.0.2-zulu","1.21":"/root/.sdkman/candidates/java/21.0.2-amzn","21":"/root/.sdkman/candidates/java/21.0.2-amzn"}
BASE_IMAGE_JAVA_VERSION_MAPPING=''
ALLOWED_HOSTS=
HOME_DIR=root